version: '3'

services:
    php:
        container_name: php-${PROJECT}
        image: ${PROJECT}_php-fpm:${PHP_VERSION}
        env_file:
          - .env
          - .env.local
        build:
          context: ./.docker/php-fpm/${PHP_VERSION}
          args:
            DOCKER_USER: <DOCKER_USER>
            DOCKER_USER_ID: <DOCKER_USER_ID>
        restart: ${RESTART_POLICIES}
        environment:
          COMPOSER_MEMORY_LIMIT: -1
          SSH_AUTH_SOCK: /ssh-agent
          TZ: ${TIMEZONE}
        volumes:
          - ${PWD}:/var/www/html
          - $SSH_AUTH_SOCK:/ssh-agent
        working_dir: /var/www/html
        user: "<DOCKER_USER>"
        entrypoint:
          - ""
        command:
          - "php-fpm"
        networks:
          - "crucible-of-heroes-v2"

networks:
    crucible-of-heroes-v2:
        driver: bridge